<ul>
    <li *ngFor="let cartItem of cart.items">
        <div>
 <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
 </div>
 <div>
<a routerLink="/food/{{cartItem.food.id}}">
{{cartItem.food.name}}
</a>
 </div>

 <div>
    <select #quantitySelect (change)="changeQuantity(cartItem, quantitySelect.value)">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
    </select>
     <div class="price">
     
            {{cartItem.food.price |currency:'EUR':true}}
       
     </div>
     <div class="remove-cartbutton">
        <button (click)="removeFromCart(cartItem)">
        Remove
        </button>
     </div>
 </div>
</li>
</ul>
<div class="checkout">
    <div class="food-count">
   {{cart.items.length}}
    </div>
    <div class="total-price">
        {{cart.totalPrice |currency:'EUR':true}}
    </div>
</div>
