
<h2 class="order">ORDER'S</h2>

<div class="container">
  <ul>
    <li *ngFor="let cartItem of items">
      <div>
        <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
        {{cartItem}}
      </div>
      <div>
        <a routerLink="/food/{{cartItem.food.id}}">
          {{cartItem.food.name}}
        </a>
      </div>

      <div>
        <div class="price">
          {{cartItem.subTotal | currency:'EUR':true}}
        </div>
          <div class="price">
          {{cartItem.subTotal | currency:'EUR':true}}
        </div>
      </div>
    </li>
  </ul>
  
  <div  class="checkout">
    <div class="food-count">
      {{items.length}}
    </div>
  </div>
</div>

