<div  class="container">
  <img [src]="food?.imageUrl" [alt]="food?.name">
<div>
    <div class="details">
        <div class="header">
            <span class="name">
             {{food?.name}}
            </span>
            <span class="favourite {{food?.favourite?'':'not'}}">
               ♥
            </span>
           
        </div>
        <div class="star">
     <star-rating [value]="food.star" [totalstars]="5" 
       checkedcolor="red"
       uncheckedcolor="black"
       size="24px"[readonly]="true">
    </star-rating>
        </div>
        <div class="description">
         {{food?.description}}
     </div>


        <app-tags [foodPagetags]="food.tags"></app-tags>
     

      <div class="cook-time">
        <span>
        Time to cook 🕐<strong>{{food.cookTime}}</strong>Minutes
        </span>

     </div>
     <div class="price">
        <span>
            {{food.price |currency:'EUR':true}}
        </span>
     </div>
    <button class="button">
           Add to Cart
    </button>
    
    </div>
</div>
</div>
