header{

    background-color: white;
    padding: 0%;
    border-bottom: 1px solid #e72929;
}

a{
    color: red;
}

a:hover{
    background-color: rgb(255, 81, 0);
}
.container{
    margin: 0 auto;
    display: flex;
}
a.logo{
    font-family: bold;
    
}

.bi{
    width: 2rem;
    height: 1rem;
    color: #e72929;
}
nav ul li.login {
  margin-left: auto;
}