<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel-border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>

                    <div class="panel-body">
                        <form [formGroup]="signUpForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['firstname'].touched && signUpForm.hasError('required','firstname')">
                                    <span class="fa fa-user p-2"> </span>
                                    <input formControlName="firstname"  type="text" placeholder="Firstname" id="firstname">
                                </div>
                            </div>
                        <small *ngIf="signUpForm.controls['firstname'].touched && signUpForm.hasError('required','firstname')"  class="text-danger">*firstname is required</small>

                        <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['lastname'].touched && signUpForm.hasError('required','lastname')">
                                    <span class="fa fa-user p-2"> </span>
                                    <input formControlName="lastname" type="text" placeholder="Lastname" id="lastname">
                                </div>
                            </div>
                        <small *ngIf="signUpForm.controls['lastname'].touched && signUpForm.hasError('required','lastname')"  class="text-danger">*lastname is required</small>

                             <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['email'].touched && signUpForm.hasError('required','email')">
                                    <span class="fa fa-user p-2"> </span>
                                    <input formControlName="email" type="text" placeholder="Email" id="email">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['email'].touched && signUpForm.hasError('required','email')"  class="text-danger">*please enter your email</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['username'].touched && signUpForm.hasError('required','username')">
                                    <span class="fa fa-user p-2"> </span>
                                    <input formControlName="username" type="text" placeholder="username" id="username">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['username'].touched && signUpForm.hasError('required','username')"  class="text-danger">*username is required <br> note username can be email</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['password'].touched && signUpForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"> </span>
                                    <input formControlName="password" [type]="type" placeholder="password" id="password">
                                    <span (click)="hideShowPass()" class="fa fa-eye slash"></span>
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['password'].touched && signUpForm.hasError('required','password')"  class="text-danger">*password is required</small>
                           
                            <button (click)=" onSubmit()"  type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign up</button>
                            <div class="text-centre pt-4 text-muted">Already have account? <a id="forget"
                                    routerLink="/login">Login</a></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

