/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Quicksand,sans-serif;
    font-size: 18px;
}
a{
    text-decoration:none;
}