
<app-search></app-search>
<ul>
    <li *ngFor="let food of foods">
        <a>
        <img src="{{food.imageUrl}}" alt="food images">
       
     <div class="content">
        <div class="name">
            {{food.name}}
        </div>
        <span class="favourite {{food.favourite?'':'not'}}">♥</span>
       <star-rating [value]="food.star" [totalstars]="5" 
       checkedcolor="red"
       uncheckedcolor="black"
       size="24px"[readonly]="true"></star-rating>
       <div class="description">
         {{food.description}}
     </div>
     <div class="cooktime">🕐
         {{food.cookTime}}
        Mins
     </div>
     <div class="price">
         {{food.price |currency:'EUR':true}}
     </div>
    </div>
     </a>
    </li>
</ul>
