ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
height: 26rem;
width: 20rem;
border: 1px solid whitesmoke;
border-radius: 1rem;
margin: 0.5rem;
display: flex;
flex-direction: column;
overflow: hidden;
color: #e72929;
text-decoration: none;
}
.star{
    margin-bottom: .2rem;
}
.favourite.not{
    color: black;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;

}
.name{
    size: 10px;
    font-size: large;
    font-weight: bold;
}
.description{
    color: rgb(85, 83, 83);
}
.cooktime{
     color: rgb(85, 83, 83);
}
.price{
        color: #e72929;
       font-size: larger;
       font-weight: bolder;
}
img{
    border-radius: 1rem;
    flex: 1 0;
    height: 20rem;
    margin: 1rem;

}